/* styles/themes.scss */
@use '@angular/material' as mat;

// Renk Paletleri
$indigo-palette: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: #5c6bc0,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
);

$violet-palette: (
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ab47bc,
  500: #9c27b0,
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
);

// Temaları Tanımla
$violet-theme: mat.define-theme((
  color: (
    primary: mat.$violet-palette
  ),
));

$indigo-theme: mat.define-theme((
  color: (
    
    primary: mat.$azure-palette,
   
  ),
));

// Mixin Tanımlama
/*@mixin apply-theme($theme) {
  @include mat.all-component-themes($theme);
}*/
